@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700);

body {
  background-color: #e57066;
}

#beat-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 125px;
  height: 125px;
  margin: auto;
  background-color: #28292b;
  border-radius: 50%;
  transition: all 200ms;
}

#beat-input.active {
  width: 150px;
  height: 150px;
}

.bpm-text {
  width: 100%;
  padding: 16px 0;
  text-align: center;
}

#bpm {
  color: #28292b;
  font-family: Roboto Mono;
  font-size: 3em;
  font-weight: 900;
}

#bpm.gathering {
  opacity: 0.5;
}

.instruction-text {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #28292b;
  font-family: Roboto Mono;
  text-align: center;
}
